POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=finanzas_personales
POSTGRES_USER=finanzas_user
POSTGRES_PASSWORD=finanzas_password

DATABASE_URL="postgresql://finanzas_user:finanzas_password@localhost:5433/finanzas_personales?schema=public"
